// Sample Site - Landing
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// Google Fonts:
h1, h2, h3 {
  font-family: 'Caveat', cursive;
  text-shadow: 1px 1px 5px black;
}
p {
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-size: 4rem;
}

body {
  background: black;
  color: white;
  &::-webkit-scrollbar {
    width: 0.5rem;
  }
  &::-webkit-scrollbar-track {
    background: black;
  }
  &::-webkit-scrollbar-thumb {
    background: gray;
  }
}

section {
  //width: 100vw;
  height: 100%;
}

.splash {
  height: 100vh;
}

// Animations:
@mixin hidden {
  opacity: 0;
  filter: blur(5px);
  transition: all 1s;  
}

.hidden-left {
  @include hidden;
  transform: translateX(-100%);
}
.hidden-right {
  @include hidden;
  transform: translateX(100%);
}
.hidden-below {
  @include hidden;
  transform: translateY(100%);
}
.hidden-above {
  @include hidden;
  transform: translateY(-100%);
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);  
  transform: translateY(0);
}

.delay {
  transition-delay: 100ms;
  &:nth-child(2) {
    transition-delay: 300ms;
  }
  &:nth-child(3) {
    transition-delay: 500ms;
  }
  &:nth-child(4) {
    transition-delay: 700ms;
  }
}


@media (max-width: 800px) {
  .splash {
    width: 100vw;
    height: auto;
  }
}
